@import url('https://fonts.googleapis.com/css?family=Unlock');

body{
    background: fixed;
    background-image: url("https://i.imgur.com/Z3ldLGv.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Unlock', cursive;
    }

h1{
    display: flex;
    justify-content: center;
   
    #title{
        display: flex;
        width: auto;
        height: 200px;
    }
}

